body {
  margin: 0;
  font-family: 'Smythe';
  font-weight: 400;
  font-style: normal;

  color: #331E17;
}

* {
  box-sizing: border-box;
}


/* Typography */
#header-title {
  font-size: 60px;
  text-shadow: 0 0 1px #331E17;
}

h1 {
  margin: 0;
}

#subtitle {
  font-size: 20px;
  text-shadow: 0 0 1px #331E17;

}

.header-emoji {
  font-size: 100px;
  opacity: 0.72;
  text-shadow: 0 0 10px #E7C370;

}

.item-title {
  font-size: 28px;
  font-weight: bold;
}

.item-description {
  font-size: 20px;

  color: #94211D;
}


.fa-solid {
  color: #331E17;
  font-size: 50px;
}

.item-emoji {
  font-size: 80px;
  opacity: 0.72;
}

#order-title {
  margin: 0;
  text-align: center;

}

p {
  margin: 0;
}

.checkout-items>P {
  font-weight: bold;
}

.payment-title {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}


/* Layout */


.container {
  width: 600px;
  height: 1161px;
  background-color: #E7C370;
  margin: 0 auto;
  padding-bottom: 20px;
}

/* Header layout */

header {

  width: 100%;
  height: 167px;
  box-sizing: border-box;
  text-shadow: 0 0 1px #E7C370;
  display: flex;
  justify-content: center;
  align-items: center;
}



.header-text {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Item menu layout */


.items {
  width: 600px;
  height: 500px;
}


.item-container {
  display: flex;
}

.menu-items {
  display: flex;
  justify-content: space-between;
  margin: 50px auto auto;
  width: 508px;
  height: 132px;
  border-bottom: 1px solid #331E17;
  color: #5E7636;

}




.items-details {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  gap: 10px;
}

/* Checkout Section layout */

#checkout-section {
  width: 508px;

  margin: 20px auto auto auto;
  padding-top: 20px;
  font-size: 28px;


}


#remove-btn {

  font-size: 12px;
  color: #94211D;
  outline: none;
  background: none;
  border: none;
  padding: 0;
  margin-left: 5px;



}

.order-items {
  border-bottom: 2px solid #393333;
  color: #5E7636;
}

.checkout-items-container {

  display: flex;
  justify-content: space-between;
  padding: 10px;


}

.checkout-items {
  display: flex;


}



.total-price-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 10px;

}

#purchase-btn {
  margin-top: 20px;
  width: 508px;
  height: 60px;

}

.btn {
  background-color: #94211D;
  color: #E7C370;
  border: none;
  outline: none;
  font-weight: bold;
  border-radius: 3px;
  font-size: 28px;
}

/* Payment section Layout */

.payment-section {
  background-color: #331E17;
  display: none;
  position: fixed;
  width: 524px;
  height: 524px;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  box-shadow: 0px 0px 6px 2px #666;
  border-radius: 4px;

}

.payment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;


}



input {
  width: 475px;
  height: 71px;
  border: 1.3px solid #E7C370;
  color: #757575;
  border-radius: 4px;
  font-size: 20px;
  outline: none;
  padding-left: 10px;

}

#pay-btn {
  width: 475px;
  height: 72px;
  margin-top: 20px;
}

.thanks-note {
  width: 400px;
  height: 80px;
  color: #5E7636;
  font-size: 25px;
  margin: 30px  auto auto auto;
  padding: 10px;
  background-color: #e0f7ba;
  border-radius: 3px;
  

}
